*.o
*.pyc
*.dll
*.exe
pd.*.z64
build
.flatpak-builder
extracted
src/assets/*/*.bin
src/assets/*/*.ctl
src/assets/*/*.tbl
src/assets/*/animations/*.bin
src/assets/*/files/audio/*.mp3
src/assets/*/files/bgdata/*.bin
src/assets/*/files/bgdata/*.seg
src/assets/*/files/chrs/*.bin
src/assets/*/files/guns/*.bin
src/assets/*/files/props/*.bin
src/assets/*/files/ob/ob_mid.seg
src/assets/*/fonts/*.bin
src/assets/*/sequences/*.seq
src/assets/*/textures/*.bin
src/generated
tools/mkrom/mkrom
/.vs
CppProperties.json
.idea
cmake-build-debug

# Perfect Dark Launcher
PerfectDarkLauncher/build/
PerfectDarkLauncher/DerivedData/
*.xcuserstate
xcuserdata/
*.pbxuser
*.perspectivev3
*.mode1v3
*.mode2v3
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
*.dmg

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Temporary/config
*.log
*.tmp
*.bak
pd.ini
